.heading {
    background: -webkit-linear-gradient(#444f5f8f, #374356);
    font-weight: 700;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider-img-container {
    height: 400px;
}

.slider-img-container img {
    object-fit: cover;
}